{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-6 text-center"><p>Inscrivez-vous maintenant </p>
                <a href="{% url 'signup' %}" class = "btn btn-secondary btn-md" role="button" aria-pressed="true">
                    S'inscrire
                </a>
        </div>
        <div class="col-6 text-center"><p>Connectez-vous</p>
            <form method="post" novalidate>
                 {{ form|crispy }}
                 {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4 m-1">
                            <button type="submit" class = "btn btn-secondary btn-md " role="button" aria-pressed="true">Se connecter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock content %}