{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col"><p>Inscrivez-vous maintenant </p>
                <a href="{% url 'signup' %}" class = "btn btn-secondary btn-md">
                    S'inscrire
                </a>
        </div>
        <div class="col"><p>Connectez-vous</p>
            <form method="post">
                 {{ form.as_p }}
                 {% csrf_token %}
                <div class="text-right">
                    <button type="submit" class = "btn btn-secondary btn-md">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}