{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h2>Inscrivez-vous</h2>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <form method="post" novalidate>
                {{ form|crispy }}
                {% csrf_token %}
                <div class="p-3">
                    <a href="{% url 'login' %}" type="submit" class="m-3 btn btn-secondary btn-md">Retourner</a>
                    <button type="submit" class="m-3 btn btn-secondary btn-md">S’inscrire</button>
                </div>
            </form>
        </div>
        <div class=col-3"></div>
    </div>
{% endblock content %}