{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container text-center w-75">
        <h2>Modifier</h2>
        <form method="post" enctype="multipart/form-data" novalidate>
            {{ edit_form|crispy }}
            {% csrf_token %}
            <button type="submit" class = "m-3 btn btn-secondary btn-md">Sauvegarder</button>
        </form>
        <h3>Supprimer</h3>
        <form method="post" enctype="multipart/form-data">
            {{ delete_form }}
            {% csrf_token %}
            <button type="submit" class = "m-3 btn btn-secondary btn-md" >Supprimer</button>
        </form>
    </div>
{% endblock content %}

