{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h5 class="text-center">Modifier votre critique</h5>
        <div class="container border border-dark w-75">
            <p>Vous êtes en train de poster en réponse à:</p>
                <div class="container border border-dark ">
                    <div class="row">
                        <p class="col-8">{{ review.ticket.user }} a demandé une critique
                        </p>
                        <p class="col-4">{{ review.ticket.time_created }}
                        </p>
                    </div>
                    <h5>{{ review.ticket.title }}
                    </h5>
                    <p>{{ review.ticket.description }}</p>
                    {% if review.ticket.image %}
                    <img src="{{ review.ticket.image.url }}" alt="book cover">
                    {% endif %}
                </div>
        </div>
    <div class="container border border-dark w-75">
        <h5>Critique:</h5>
        <br/>
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ edit_form|crispy }}
            {% csrf_token %}
            <input type="submit" value= "Sauvegarder" class="m-3 btn btn-secondary btn-md">
        </form>
        <h3>Supprimer</h3>
        <form method="post" enctype="multipart/form-data">
            {{ delete_form }}
            {% csrf_token %}
            <input type="submit" value= "Supprimer" class="m-3 btn btn-secondary btn-md">
        </form>
    </div>
{% endblock content %}

