{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="text-center">
        <h2>Modifier</h2>
        <form action="" method="post" enctype="multipart/form-data" novalidate>
            {{ edit_form|crispy }}
            {% csrf_token %}
            <input type="submit" value= "Sauvegarder" class="m-3 btn btn-secondary btn-sm">
        </form>
        <h3>Supprimer</h3>
        <form method="post" enctype="multipart/form-data">
            {{ delete_form }}
            {% csrf_token %}
            <input type="submit" value= "Supprimer" class="m-3 btn btn-secondary btn-md">
        </form>
    </div>
{% endblock content %}

