{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="text-center">
        <h4>Suivre des utilisateurs</h4>
        <form method="post" enctype="multipart/form-data" novalidate>
            {{ form|crispy }}
            {% csrf_token %}
            <button type="submit" class = "m-3 btn btn-secondary btn-md">Confirmer</button>
        </form>
    </div>

<thead>Abonnements:</thead>
    <table class="table">
        {% for followed_user in followed_users %}
        <tbody>
            <td class="border border-dark">{{followed_user.followed_user}}</td>
        </tbody>
        {% endfor %}
    </table>
<thead>Abonnés:</thead>
    <table class="table">
        {% for follower in followers %}
        <tbody>
            <td class="border border-dark">{{follower.user}} </td>
        </tbody>
        {% endfor %}
    </table>

{% endblock content %}
