{% extends 'base.html' %}
{% block content %}
    <ul class="text-center w-100">
        <li class="list-inline-item w-30 m-3">
            <a href="{% url 'ticket' %}" class="btn btn-secondary btn-lg"
            role="button" aria-disabled="true" aria-pressed="true">Demander une critique</a>
        <li class="list-inline-item w-30 m-3">
            <a href="{% url 'review' %}" class="btn btn-secondary btn-lg"
            role="button" aria-disabled="true" aria-pressed="true">Créer une critique</a>
        </li>
    </ul>
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            <div class="container border border-dark p-3 w-50">
                <div class="row">
                    <div class="col-9 text-left">
                        <a href="{% url 'view_ticket' post.id %}">
                            <p>{{ post.user }} a demandé une critique:</p>
                        </a>
                    </div>
                    <div class="col-3 pull-right">
                        <p>{{ post.time_created }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9 text-left">
                        <h4>Titre :{{ post.title }}</h4>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="book cover">
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 col-sm-8 text-left">
                    </div>
                    <div class="col-md-3 col-sm-4 text-right">
                        <a href="{% url 'ticket_review' post.id %}"
                           class="btn btn-secondary btn-sm"
                           role="button" aria-pressed="true">
                            Créer une critique
                        </a>
                    </div>
                </div>
            </div>
        {% elif post.content_type == 'TICKET_W_REVIEW' %}
            <div class="container border border-dark p-3 w-50">
                <div class="row">
                    <div class="col-9 text-left">
                        <a href="{% url 'view_ticket' post.id %}">
                            <p>{{ post.user }} a demandé une critique:</p>
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <p>{{ post.time_created }}</p>
                    </div>
                </div>
                <h4>Titre :{{ post.title }}</h4>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="book cover">
                {% endif %}
                <span>Une critique a été rédigée pour ce livre</span>
            </div>
        {% elif post.content_type == 'REVIEW' %}
            <div class="container border border-dark p-3 w-50">
                <div class="row">
                    <div class="col-9 text-left">
                        <a href="{% url 'view_review' post.id %}">
                            <span>{{post.user}} posted a review </span>
                        </a>
                    </div>
                    <div class="col-3 text-right">
                        <span>{{post.time_created}}</span>
                    </div>
                </div>

                <h5>{{ post.headline }} -
                    {% range_rating post.rating as rating %}
                        {% for star in rating %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                </h5>
                <p>{{ post.content }}</p>
                <p>{{ post.body }}</p>
                <p>{{ post.ticket}}</p>
                <div class="container border border-dark">
                    <h5>Demande de critique : {{ post.ticket.title }}</h5>
                    <p>de: {{ post.ticket.user }} </p>
                    {% if post.ticket.image %}
                    <img src="{{ post.ticket.image.url }}" alt="book cover">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}