{% extends 'base.html' %}
{% block content %}
    <p>Vous êtes connecté !</p>
    <div class="text-center w-100">
        <li class="list-inline-item w-30 m-3">
            <a href="{% url 'ticket' %}" class="btn btn-secondary btn-lg"
            role="button" aria-disabled="true">Demander une critique</a>
        <li class="list-inline-item w-30 m-3">
            <a href="{% url 'review' %}" class="btn btn-secondary btn-lg"
            role="button" aria-disabled="true">Créer une critique</a>
        </li>
    </div>
    {% for ticket in tickets %}
            <div class="container border border-dark">
                <div class="row">
                    <div class="col-5 text-left">
                        <a href="{% url 'view_ticket' ticket.id %}">
                            <p>{{ ticket.user }} a demandé une critique:</p>
                        </a>
                    </div>
                    <div class="col-2 text-right">
                        <p>{{ ticket.time_created }}</p>
                    </div>
                </div>
                <h4>Titre :{{ ticket.title }}</h4>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}">
                {% endif %}
                <div class="row">
                    <a href="{% url 'edit_ticket' ticket.id %}"
                    class = "m-3 btn btn-secondary btn-md">
                    Modifier
                    </a>
                    <a href="{% url 'edit_ticket' ticket.id %}"
                       class = "m-3 btn btn-secondary btn-md">
                    Supprimer
                    </a>
                    <a href="{% url 'home' %}" class = "m-3 btn btn-secondary btn-md">
                    Retourner
                    </a>
                </div>
            </div>
    {% endfor %}

    {% for review in reviews %}
            <div class="container border border-dark">
                <div class="row">
                    <div class="col-5 text-left">
                        <a href="{% url 'view_review' review.id %}">
                            <span>{{review.user}} posted a review </span>
                        </a>
                    </div>
                    <div class="col-2 text-right">
                        <span>{{review.time_created}}</span>
                    </div>
                </div>
                <h5>{{ review.headline }} - {{ review.rating }} étoiles</h5>
                <p>{{ review.content }}</p>
                <p>{{ review.body }}</p>
                <p>{{ review.ticket}}</p>
                <div class="container border border-dark">
                    <h3>Demande de critique : {{ review.ticket.title }}</h3>
                    <p>de: {{ review.ticket.user }} </p>
                    {% if review.ticket.image %}
                    <img src="{{ review.ticket.image.url }}">
                    {% endif %}
                </div>
                <div class="row">
               <a href="{% url 'edit_review' review.id %}" class = "m-3 btn btn-secondary btn-md">
                    Modifier
               </a>
               <a href="{% url 'edit_review' review.id %}" class = "m-3 btn btn-secondary btn-md">
                    Supprimer
               </a>
                <a href="{% url 'home' %}" class = "m-3 btn btn-secondary btn-md">
                Retourner
                </a>
                </div>
            </div>
    {% endfor %}
{% endblock content %}