{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>

<!--à retravailler-->
    {% for user_follows in user_follows_list %}
        <!--{% if user_follows.user == settings.AUTH_USER_MODEL %}-->
            <div class="followers">
                    <h4>Abonnements: </h4>
                    <p>{{ user_follows.followed_user.type }}</p>
            </div>
        <!--{% endif %}-->
        <!--{% if user_follows.followed_user == settings.AUTH_USER_MODEL %}-->
            <div class="followers">
                    <h4>Abonnés : {{ user_follows.user }}</h4>
            </div>
        <!--{% endif %}-->
    {% endfor %}


{% endblock content %}
