{% extends 'base.html' %}
{% block content %}
        <div class="container border border-dark">
            <div class="row">
                <div class="col-5 text-left">
                <p>{{ ticket.user }} a demandé une critique:</p>
                </div>
                <div class="col-2 text-right">
                    <p>{{ ticket.time_created }}</p>
                </div>
            </div>
        </div>
        <div class="container border border-dark">
            <h4>Titre :{{ ticket.title }}</h4>
        </div>
        <div class="container border border-dark">
            <p>{{ ticket.description }}</p>
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}">
            {% endif %}
            <div class="row">
                    <a href="{% url 'edit_ticket' ticket.id %}"
                    class = "m-3 btn btn-secondary btn-md">
                    Modifier
                    </a>
                    <a href="{% url 'edit_ticket' ticket.id %}"
                       class = "m-3 btn btn-secondary btn-md">
                    Supprimer
                    </a>
                    <a href="{% url 'home' %}" class = "m-3 btn btn-secondary btn-md">
                    Retourner
                    </a>
            </div>
        </div>
{% endblock content %}