{% extends 'base.html' %}
{% block content %}
        <div class="container border border-dark">
            <div class="row">
                <div class="col-5 text-left">
                <p>{{ review.user }} a publié une critique:</p>
                </div>
                <div class="col-2 text-right">
                    <p>{{ review.time_created }}</p>
                </div>
            </div>
        </div>
        <div class="container border border-dark">
            <h4>Titre :{{ review.headline }}</h4>
        </div>
        <div class="container border border-dark">
            <p>{{ review.content }}</p>
            {% if review.ticket.image %}
                <img src="{{ review.ticket.image.url }}">
            {% endif %}
            <p>{{ review.body }}</p>
            <div class="row">
               <a href="{% url 'edit_review' review.id %}" class = "m-3 btn btn-secondary btn-md">
                    Modifier
               </a>
               <a href="{% url 'edit_review' review.id %}" class = "m-3 btn btn-secondary btn-md">
                    Supprimer
               </a>
                <a href="{% url 'home' %}" class = "m-3 btn btn-secondary btn-md">
                Retourner
                </a>
            </div>

        </div>
{% endblock content %}